.box-legend-text{
    font-size: .9rem;
}

.box-legend-icon{
    font-size: 1.125rem;
}

#graph-qtd-total-agendamentos{
    width: 100%;
    height: auto;
}

@media (min-width: 576px) and (max-width: 1920px){
    .hb-card-title{
        text-align: right;
    }  
}