/* Small */
@media screen and (max-width: 576px){
    /* Registro */
    .login{
        display: flex;
        align-items: center;
    }

    .registro{
        display: flex;
        align-items: center;
    }

    .registro_barbearia{
        padding-top: 8%;
        display: flex;
        align-items: center;
    }

    .hb-navbar .logo{
        width: 110px !important;
    }

    .gap-to-menu{
        margin-top: max(110px, 8vh);
    }

    .area-cliente{
        margin-top: 1rem;
        justify-content: center;
    }

    .area-cliente-card .card-img-top{
        min-height: 100%;
    }
}